* {
    margin : 0;
    padding: 0;
    box-sizing: 0;
}
body {
    font-family:  sans-serif;
}

header{
    box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.3);
    position: sticky;
    top: 0px;
    background: white;
}
nav {
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1,
nav ul {
    font-size: 1.5rem;
    flex: 1;
}
/*1 em flex significa on*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav a {
    color: black;
    text-decoration: none;
}
/*------------------modificando o corpo-----------------------*/
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h2{
    font-size: 5rem;
    color: rgb(255, 255, 255);
}
.home {
    background: linear-gradient(to right, #ed4264, #ffedbc);
}
.projetos {
    background: linear-gradient(to right, #085078, #85d8ce);
}
.contato {
    background: linear-gradient(to right, #1d976c, #93f9b9);
}
